@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 0 0% 15%;

    --muted: 0 0% 85%;
    --muted-foreground: 0 0% 30%;

    --popover: var(--background);
    --popover-foreground: 0 0% 25%;

    --card: var(--background);
    --card-foreground: var(--foreground);

    --border: 0 0% 60%;
    --input: var(--border);

    --primary: 0 0% 15%;
    --primary-foreground: 0 0% 90%;

    --secondary: 0 0% 60%;
    --secondary-foreground: var(--primary);

    --accent: var(--border);
    --accent-foreground: var(--primary);

    --destructive: 0 63% 31%;
    --destructive-foreground: var(--primary);

    --ring: var(--border);

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: var(--background);
    --popover-foreground: 215 20.2% 65.1%;

    --card: var(--background);
    --card-foreground: var(--foreground);

    --border: 216 34% 17%;
    --input: var(--border);

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: var(--primary);

    --accent: var(--border);
    --accent-foreground: var(--primary);

    --destructive: 0 63% 31%;
    --destructive-foreground: var(--primary);

    --ring: var(--border);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
